$primary: #7C616C;
$primary-transparent: #7c616c91;
$secondary: #D1B1CB;
$tertiary: #ebdce7;
$accent: #E5E9EC;
$warning: #fa0060;
$bg: #EAFDF8;

$primary-text: #534148;
$text: #2c3e50;

$white: white;
$black: black;
